$primary-color: #73838C;
$second-color: #2F4050;
$third-color: #28B786;




$purple-color: #360052;
$blue-color: #28A5BD;
$blue-transparent-color: rgba(40, 165, 189, 0.2);
$gray-color: #eeeff1;
$white-color: #ffffff;
$black-color: #000000;
