$primary-color: #73838c;
$second-color: #2f4050;
$third-color: #28b786;

$purple-color: #360052;
$purple-transparent-color: rgba(54, 0, 82, 0.1);
$blue-color: #28a5bd;
$blue-transparent-color: rgba(40, 165, 189, 0.2);
$gray-color: #eeeff1;
$white-color: #ffffff;
$black-color: #000000;
